@import '../foundation/variables';
@import '../foundation/mixin';

.p-mv {
	@include mq(sm) {
		min-height: 100vh;
		padding-top: calc(8rem + 3.6vh);
		box-sizing: border-box;
	}
	&__title {
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 1.34;
		letter-spacing: 0.03em;
		margin-top: 9vh;
		margin-left: 7%;
		margin-bottom: 12vh;
		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 1.7;
			margin-left: calc(38/375 * 100%);
			margin-bottom: 4.5vh;
			margin-top: 0;
		}
		&__em {
			font-size: 6rem;
			line-height: 1.66;
			letter-spacing: 0.06em;
			font-weight: bold;
			@include mq(sm) {
				font-size: 4rem;
				line-height: 5.8rem;
				letter-spacing: 0.08em;
			}
		}
	}
	&-bottom {
		display: flex;
		justify-content: space-between;
		@include mq(sm) {
			flex-direction: column;
		}
		&-left {
			width: calc(500/1280 * 100%);
			@include mq(sm) {
				width: 30rem;
				margin: 0 auto 5vh;
			}
			&__badge {
				width: calc(337/500 * 100%);
				height: auto;
				margin: 0 auto 4.5vh;
				@include mq(sm) {
					width: 100%;
				}
			}
		}
		&-right {
			width: calc(780/1280 * 100%);
			@include mq(sm) {
				width: 100%;
			}
		}
	}
}

.p-industory {
	position: relative;
	&-container {
		padding-top: 14rem;
		padding-bottom: 12.7rem;
		@include mq(sm) {
			padding-top: 10rem;
			padding-bottom: 10rem;
		}
	}
	&-list {
		display: flex;
		justify-content: space-between;
		@include mq(sm) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&-item {
		width: 30rem;
		height: 41.2rem;
		box-shadow: 0px 0px 10px rgba(128,128,128,0.16);
		border-radius: 1rem;
		position: relative;
		@include mq(md) {
			height: 55rem;
		}
		@include mq(sm) {
			width: 100%;
			height: 37.8rem;
		}
		&:nth-child(2) {
			margin-top: 5rem;
			@include mq(sm) {
				margin-top: 3.4rem;
			}
		}
		&:last-child {
			margin-top: 10rem;
			@include mq(sm) {
				margin-top: 3.4rem;
			}
		}
		&__img {
			display: block;
			width: 100%;
			height: 18.2rem;
		}
		&-bottom {
			width: 100%;
			padding: 0 2rem;
			box-sizing: border-box;
			height: 23rem;
			background-color: $cWhite;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			display: flex;
			align-items: center;
			@include mq(md) {
				height: 36.8rem;
			}
			@include mq(sm) {
				height: 19.6rem;
			}
		}
		&__title {
			font-size: 2rem;
			font-weight: 500;
			letter-spacing: 0.03em;
			line-height: 1.45;
			text-align: center;
			margin-bottom: 2rem;
			@include mq(sm) {
				margin-bottom: 1.5rem;
			}
		}
		&__txt {
			font-size: 1.4rem;
			letter-spacing: 0.03em;
			line-height: 2.1;
			font-weight: 400;
		}
	}
}

.p-consultant {
	&-container {
		padding: 3.3rem 0 20rem;
		@include mq(sm) {
			padding: 4.1rem 0 10rem;
		}
	}
	&-video {
		display: block;
		width: calc(700/1030 * 100%);
		height: auto;
		margin: 0 auto;
		cursor: pointer;
		border-radius: 1rem;
		position: relative;
		box-shadow: 0px 0px 20px rgba(128,128,128,0.16);
		@include mq(sm) {
			width: 33.5rem;
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 1rem;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: #48BFB7;
			opacity: 0;
			transition: all 0.2s;
		}
		&:hover {
			&::after {
				opacity: 0.2;
			}
		}
	}
}

.p-support {
	position: relative;
	padding-top: 13rem;
	@include mq(sm) {
		padding-top: 10rem;
	}
	&__bg {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 66rem;
		@include mq(sm) {
			height: 30.8rem;
		} 
	}
	&-container {
		padding: 6.8rem 12rem 11.2rem;
		background-color: $cWhite;
		border-radius: 1rem;
		box-sizing: border-box;
		box-shadow: 0px 0px 20px rgba(128,128,128,0.16);
		@include mq(sm) {
			padding: 6rem 2rem;
		}
	}
	&-middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6rem;
		@include mq(sm) {
			flex-direction: column;
			margin-bottom: 3rem;
		}
		&__img {
			width: calc(310/790 * 100%);
			display: block;
			& img {
				border-radius: 1rem;
			}
			@include mq(sm) {
				width: 100%;
				margin-bottom: 3rem;
			}
		}
		&-right {
			width: calc(430/790 * 100%);
			@include mq(sm) {
				width: 100%;
			}
		}
		&__title {
			font-size: 2rem;
			line-height: 1.45;
			font-weight: 500;
			letter-spacing: 0.08em;
			margin-bottom: 3rem;
			@include mq(sm) {
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}
		}
		&__txt {
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2;
			letter-spacing: 0.02em;
			@include mq(sm) {
				font-size: 1.4rem;
				line-height: 1.7;
			}
		}
	}
	&-bottom {
		@include mq(sm) {
			width: 87%;
			display: block;
			margin: 0 auto;
		}
	}
}

.p-people {
	position: relative;
	&-container {
		padding-top: 16rem;
		padding-bottom: 13.6rem;
		@include mq(sm) {
			padding: 10rem 0;
		}
	}
	&-list {
		display: flex;
		justify-content: space-between;
		@include mq(sm) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	& li {
		&:nth-child(2) {
			margin-top: 5rem;
			@include mq(sm) {
				margin-top: 3.4rem;
			}
		}
	}
	&-item {
		width: 47rem;
		height: 39.7rem;
		display: block;
		border-radius: 1rem;
		position: relative;
		@include mq(sm) {
			width: 100%;
			height: 30.6rem;
		}
		&:hover {
			& .p-people {
				&-item {
					&-top {
						&::after {
							background: rgba(72,191,183,0.2)
						}
						&__arrow {
							background: linear-gradient(to top left, rgba(0,92,100,1), rgba(21,178,172,1));
							&__content {
								right: 3.13rem;
								&::after {
									width: 7rem;
								}
							}
						}
					}
				}
			}
		}
		&-top {
			position: relative;
			width: 100%;
			height: 28rem;
			display: block;
			@include mq(sm) {
				height: 18.2rem;
			}
			&::after {
				content: '';
				position: absolute;
				display: block;
				z-index: 2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 1rem 1rem 0px 0px;
				transition: all 0.2s;
				background: linear-gradient(to right top, rgba(131,225,229,0.68), rgba(134,207,181,0), rgba(141,206,163,0.08), rgba(164,201,104,0.37));
			}
			&__arrow {
				position: absolute;
				z-index: 3;
				display: block;
				width: 14rem;
				height: 5rem;
				bottom: 0;
				right: 0;
				background: linear-gradient(to top left, rgba(0,137,125,0.8), rgba(39,188,182,0.8));
				@include mq(sm) {
					width: 11.8rem;
					height: 4.4rem;
				}
				&__content {
					display: block;
					width: 1.5rem;
					height: 1.1rem;
					background-image: url(/assets/images/lines.svg);
					background-size: cover;
					position: absolute;
					top: 50%;
					right: 4.43rem;
					transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
					transform: translateY(-50%);
					@include mq(sm) {
						right: 3.3rem;
					}
					&::after {
						position: absolute;
						top: 1.1rem;
						right: 0.6rem;
						width: 4.6rem;
						height: 1px;
						background-color: $cWhite;
						content: "";
						transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
					}
				}
			}
		}
		&-bottom {
			width: 100%;
			height: 11.7rem;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			padding-left: 3rem;
			background-color: $cWhite;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}
		&__name {
			margin-bottom: 1rem;
			&__ja {
				font-size: 2.6rem;
				font-weight: 500;
				letter-spacing: 0.03em;
				line-height: 1.42;
				margin-right: 2.4rem;
			}
			&__en {
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 1.28;
				color: #AAAAAA;
			}
		}
		&__belong {
			font-size: 1.4rem;
		}
	}
}

.p-pitch {
	&-container {
		padding-top: 2.4rem;
		padding-bottom: 16.4rem;
		text-align: center;
		@include mq(sm) {
			padding-top: 3.8rem;
			padding-bottom: 10rem;
		}
	}
	&__title {
		font-size: 5rem;
		letter-spacing: 0.03em;
		line-height: 1.26;
		font-weight: 400;
		margin-bottom: 4rem;
		@include mq(sm) {
			font-size: 3rem;
			line-height: 1.23;
		}
	}
	&__txt {
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: 0.03em;
		line-height: 1.55;
		margin-bottom: 6rem;
		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 1.71;
			text-align: left;
		}
	}
	&__content {
		width: calc(795/1030 * 100%);
		margin: 0 auto;
		height: auto;
		@include mq(sm) {
			width: 100%;
		}
	}
}

.p-question {
	padding-top: 16rem;
	position: relative;
	@include mq(sm) {
		padding-top: 18.3rem;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 66rem;
		z-index: -1;
		@include mq(sm) {
			height: 30.8rem;
		}
	}
	&-container {
		padding: 8rem 12rem;
		box-sizing: border-box;
		background-color: $cWhite;
		box-shadow: 0px 0px 20px rgba(128,128,128,0.16);
		border-radius: 1rem;
		@include mq(sm) {
			padding: 6rem 2rem;
		}
	}
	&-item {
		border-bottom: 1px solid $cGray;
		&__head {
			position: relative;
			box-sizing: border-box;
			padding-left: 9.8rem;
			padding-right: 7.1rem;
			height: 8.8rem;
			display: flex;
			align-items: center;
			@include mq(sm) {
				padding-left: 6.2rem;
				padding-right: 4rem;
				height: 7.8rem;
			}
			&__icon {
				position: absolute;
				width: 4.8rem;
				height: 4.8rem;
				top: 50%;
				transform: translateY(-50%);
				left: 2rem;
				@include mq(sm) {
					width: 3.8rem;
					height: 3.8rem;
					left: 1rem;
				}
			}
			&__txt {
				font-size: 1.6rem;
				letter-spacing: 0.03em;
				font-weight: 400;
				line-height: 1.8;
				@include mq(sm) {
					font-size: 1.4rem;
					line-height: 1.71; 
				}
			}
			&__batu {
				position: absolute;
				width: 2rem;
				height: 2rem;
				right: 1.8rem;
				top: 50%;
				transform: translateY(-50%);
				@include mq(sm) {
					right: 1.1rem;
				}
				&::before {
					position: absolute;
					width: 2rem;
					height: 1px;
					background-color: $cBlack;
					content: '';
					display: block;
				}
				&::after {
					position: absolute;
					width: 2rem;
					height: 1px;
					background-color: $cBlack;
					content: '';
					display: block;
					transform: rotate(90deg);
				}
			}
		}
	}
}

.p-contact {
	&-container {
		padding: 16rem 12rem 14rem;
		@include mq(sm) {
			padding: 9rem 0 12rem;
		}
	}
	&__caution {
		text-align: center;
		font-size: 1.6rem;
		line-height: 1.875;
		letter-spacing: 0.02em;
		margin-bottom: 6rem;
		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 1.71;
			letter-spacing: 0.03em;
			margin-bottom: 4rem;
		}
	}
	&__progress {
		display: block;
		width: 31.7rem;
		height: auto;
		margin: 0 auto 6rem;
		@include mq(sm) {
			width: 21.1rem;
			margin: 0 auto 3.4rem;
		}
	}
}
