.c-btn {
	position: relative;
	border-radius: 50vh;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	color: $cWhite;
	box-sizing: border-box;
	display: block;
	background: transparent;
	overflow: hidden;
	z-index: 2;
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(to bottom right, #2ec6c1, #09897B);
		transition: all 0.3s ease;
		z-index: -1;
	}
	&.--contact {
		width: 19rem;
		height: 5.6rem;
		font-size: 1.4rem;
		letter-spacing: 0.03em;
		line-height: 5.6rem;
		padding-left: 6rem;
		font-weight: 500;
		@include mq(md) {
			width: 56rem;
			height: 12rem;
			line-height: 12rem;
			font-size: 3.8rem;
			padding-left: 17rem;
		}
		@include mq(sm) {
			width: 28.7rem;
			height: 6.4rem;
			font-size: 1.6rem;
			line-height: 6.4rem;
			padding-left: 9.5rem;
		}
	}
	&.--hear {
		width: 35.6rem;
		height: 7rem;
		line-height: 7rem;
		padding-left: 10rem;
		font-size: 1.8rem;
		letter-spacing: 0.03em;
		font-weight: 500;
		margin: 0 auto;
		@include mq(sm) {
			width: 31.2rem;
			height: 6.4rem;
			line-height: 6.4rem;
			font-size: 1.6rem;
			padding-left: 9rem;
		}
	}
	& .mail-icon {
		position: absolute;
		width: 3.4rem;
		height: 3.4rem;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);
		@include mq(md) {
			width: 7rem;
			height: 7rem;
			left: 3rem;
		}
		@include mq(sm) {
			width: 4rem;
			height: 4rem;
			left: 2rem;
		}
	}
	& .triangle {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 6.7rem;
		border-top: 0.8rem solid transparent;
		border-right: 0.8rem solid transparent;
		border-bottom: 0.8rem solid transparent;
		border-left: 0.8rem solid $cWhite;
		@include mq(sm) {
			left: 4.6rem;
		}
	}
	&:hover {
		border: 1px solid #0C8D7F;
		color: #008C7F;
		& .triangle {
			border-left: 0.8rem solid #0C8D7F;
		}
		&::after {
			opacity: 0;
		}
	}
}

